ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="413c", ATTRS{idProduct}=="4503", RUN=="/sbin/insmod /root/intra/ex04/main.ko"

ACTION=="remove", SUBSYSTEM=="usb", ATTRS{idVendor}=="413c", ATTRS{idProduct}=="4503", RUN=="/sbin/rmmod /root/intra/ex04/main.ko"
